<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ComLog.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings file="App.AppSettings.config">
    <add key="BaseApi" value="http://localhost:38094/" />
    <add key="CurExApi" value="http://localhost:55907/api/CurrencyRate/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ComLog.WinForms.Properties.Settings>
      <setting name="TransactionViewFilterDateFrom" serializeAs="String">
        <value>2017-01-16</value>
      </setting>
      <setting name="TransactionViewFilterDateTo" serializeAs="String">
        <value>2017-01-20</value>
      </setting>
      <setting name="MainFormClientSize" serializeAs="String">
        <value>1036, 483</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </ComLog.WinForms.Properties.Settings>
  </userSettings>
</configuration>
