<connectionStrings>
  <add name="ComLog" connectionString="data source=.;initial catalog=comlog2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <!--<add name="ComLog" connectionString="data source=.;initial catalog=comlog2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="ComLog" connectionString="data source=LENOVO\SQLEXPRESS;initial catalog=comlog2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
</connectionStrings>