<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ComLog.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings file="App.AppSettings.config">
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ComLog.WinForms.Properties.Settings>
      <setting name="TransactionViewFilterDateFrom" serializeAs="String">
        <value>2017-01-16</value>
      </setting>
      <setting name="TransactionViewFilterDateTo" serializeAs="String">
        <value>2017-01-20</value>
      </setting>
      <setting name="MainFormClientSize" serializeAs="String">
        <value>1036, 483</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </ComLog.WinForms.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAdministrationService">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:38312/AdministrationService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAdministrationService"
        contract="AdministrationServiceReference.IAdministrationService"
        name="WSHttpBinding_IAdministrationService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA+F+bkWDXmhRCi7MSPh+o8DcqAukgAAAAAQAAALUBAAAwggGxMIIBX6ADAgECAhAxB1BRclccoUo8FKd1WwszMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTMwMTI1MTEwNDI0WhcNMzkxMjMxMjM1OTU5WjAUMRIwEAYDVQQDEwlsb2NhbGhvc3QwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBALTFdw54/Qj5nRKtDZl6HAzPhE3IWNlb7qWSKn0XhuyVD4wgQy2Qon2NjAhOfWq8seJwsJ8eQII8VclZLXigeRhTV3tkqJMbrB0oll9UISL2k8zj40q01p5aU1ZabEyk0w7Z+DVc23pR110j1l2PGmM0p6whcAiVB6j8K0uhJtmdAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EACWmoV+523aV4U+wcgofXYOFrFpE7LnWRcyWQthS4OkKXrx+4MbJKMQMLYoh+pLe1EpJWjZFfQ4vS7GYvj7XBaw==" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
